$background: rgb(247, 247, 247);
$input-color: rgb(230, 230, 230);
$main-font: Inter, Avenir, Helvetica, Arial, sans-serif;
$title-font: "Poppins", sans-serif;
$dark-gray: rgb(54, 54, 54);
$soft-gray: rgb(158, 158, 158);
$main-green: rgb(0, 212, 96);
$soft-green: rgb(85, 206, 139);
$divisor-color: rgb(202, 202, 202);
$divisor-setup: 1px solid $divisor-color;

$animation-tf: cubic-bezier(0.25, 0.75, 0.5, 1.25);
